<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Exámen Programación Web</title>
</head>
<body>
    <div class="ejercicios">
        <div class="container1">
            <h2><a href="{{ url_for('ejercicio1') }}">Ejercicio 1</h2>
        </div>
        <div class="container2">
            <h2><a href="{{ url_for('ejercicio2') }}">Ejercicio 2</h2>
        </div>
    </div>

</body>
</html>
